@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

* { margin: 0; padding: 0; box-sizing: 0; }

body {
  color: #000c;
  font-family: var(--font-inter), sans-serif;
  font-size: 1rem;
  overflow-x: hidden;

  /* opacity: 0.1; */
}

.main-logo {
  /* display: none; */
}

/* @media (width >= 1450px) {
  .container {
    max-width: 1450px;
  }
} */

