html {
    font-size: 85%;
}

.custom-arrow {
    position: absolute;
    top: 50%;
    transform: translate(0%, -50%);
    z-index: 1;
}
.custom-arrow.left {
    left: 3%;
}
.custom-arrow.right {
    right: 3%;
}

.banner-slider .custom-arrow.left {
    left: 12%;
}
.banner-slider .custom-arrow.right {
    right: 12%;
}

.product-grid {
    grid-template-columns: repeat(auto-fit, minmax(186px, 1fr));
}
.count-down span {
    height: 2rem;
    width: 2.3rem;
    background: #e4e4e4;
    display: grid;
    place-items: center;
    color: black;
    font-weight: 500;
}


@media only screen and (max-width: 500px) {
    html {
        font-size: 75%;
    }

    .product-grid {
        grid-template-columns: 1fr 1fr;
    }
}
