html {
    font-size: 85%;
}
/* body {
    opacity: 0.1;
} */

.custom-arrow {
    position: absolute;
    top: 50%;
    transform: translate(0%, -50%);
    z-index: 1;
}
.custom-arrow.left {
    left: 3%;
}
.custom-arrow.right {
    right: 3%;
}

.banner-slider .custom-arrow.left {
    left: 12%;
}
.banner-slider .custom-arrow.right {
    right: 12%;
}

.product-grid {
    grid-template-columns: repeat(auto-fit, minmax(186px, 1fr));
}
.count-down span {
    height: 2rem;
    width: 2.3rem;
    background: #e4e4e4;
    display: grid;
    place-items: center;
    color: black;
    font-weight: 500;
}

.table-bordered td,
.table-bordered th {
    padding: 1.1rem 1rem 0.9rem 1.4rem;
    border: 1px solid #d1d1d1;
}

.table-type-1 tr + tr {
    border-top: 1px solid #afafaf;
}

.table-type-1 th {
    padding: 1.3rem 1rem;
}

.table-type-1 td {
    padding: 1rem 1.5rem;
}

.cart-progress > span {
    background-color: #e91e63;
    border-radius: 0.25rem;
}

.css-10hburv-MuiTypography-root {
    font-family: inherit;
}

/* *::-webkit-scrollbar {
	width: 5px;
	background: #e0e0ff;
}
body::-webkit-scrollbar {
    width: 10px;
}
*::-webkit-scrollbar-thumb {
	background: #4e97b7;
	border-radius: 10px;
} */

.main-search-box {
    width: clamp(24rem, 38vw, 43rem);
}


@media only screen and (max-width: 768px) {
    .main-search-box {
        width: 100%;
    }
}

@media only screen and (max-width: 500px) {
    html {
        font-size: 75%;
    }

    .product-grid {
        grid-template-columns: 1fr 1fr;
    }
}
